* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav #tag {
    font-size: 20px;
    color: #060318;
}

.nav img {
    width: 90px;
    height: 60px;

}

.navpart1 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #060318;
}

#firstbtn {
    background-color: white;
    color: black;
}


.nav button {
    width: 90px;
    font-size: 0 30px;
    background-color: #060318;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.features {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.home {

    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepart1 {

    width: 700px;
    height: 500px;
    text-align: left;
    padding: 20px;

}

.homepart1 h1 {
    font-size: 70px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 60px;
    width: 450px;


}

.homepart1 p {
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    opacity: 0.7;
    font-weight: lighter;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */


}

.homepart1.service {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.homepart1 button {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    margin-right: 10px;
    margin-top: 50px;



}

.btn1 {
    background-color: rgb(66, 63, 63);
    color: white;
}

.white {
    background-color: white;
}

.searchbar {
    width: 550px;
    margin-top: 10px;
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 20px;
    color: #0d0c22;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 2px solid #EA4C89;

}

.searchbar input {
    width: 650px;
    background-color: #f3f3f3;
    height: 40px;
    border: none;
    padding: 10px;

    color: black;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 10px;



}

.searchbar:hover {
    background-color: white;
}

.searchbar input:hover {
    background-color: white;
}


.searchbar i {
    font-size: 25px;
    color: #ffff;
    padding: 7px;
    margin-right: 5px;
    background-color: #EA4C89;
    border-radius: 20px;
}

.homepart2 {

    height: 500px;
    width: 45%;
    margin: 20px;
    border-radius: 20px;

}

.homepart2 video {
    height: 500px;
    width: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 50px;

}

#oppo {
    background-color: white;
    margin-top: 10px;
    opacity: 0.7;
    font-weight: 400;
    border: 2px solid #f3f3f3;
    text-align: center;
    font-size: 18px;
    padding: auto;
}

.black {
    opacity: 1;
    border: 1px solid black;

}

.nora {
    height: 50px;
    background-color: #f3f3f3;
    border: 2px solid #EA4C89;
    border-radius: 20px;
    text-align: center;
}

.nora p {
    font-size: 15px;
    padding: 15px;
}

.card {
    width: 100%;

}

.popular {
    display: flex;
    align-items: center;

}

.popular button {

    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    margin-right: 10px;
    margin-top: 50px;
    background-color: white;
    color: #060318;

}

.popular #not {
    border-radius: 10px;
    width: 130px;
    font-size: 20px;
    background-color: white;
    border: 2px solid #f3f3f3;



}

.popular #not-2 {
    border-radius: 20px;
    width: 100px;
    font-size: 20px;
    background-color: white;
    border: 2px solid #f3f3f3;
    margin-left: 150px;
}

.idea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.idea .photo {
    height: 250px;
    width: 350px;

    border-radius: 20px;
}

.photo img {
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 20px;

}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
}

.sign button {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    margin-right: 10px;
    margin-top: 50px;
    background-color: black;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: start;
    overflow: hidden;

}

.box {
    height: 150px;
    width: 300px;
    font-size: 20px;
    gap: 20px;
    margin: 10px;






}

.box img {
    gap: 20px;
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;




}

::-webkit-scrollbar {
    display: none;
}

.yash {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.yash img {
    width: 90px;

}

.yash .last {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.last button {

    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    border: none;
    background-color: white;
    color: #060318;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo i {
    font-size: 20px;
}